# Core
streamlit
python-docx

# NLP и обработка текста
spacy
pydantic
torch
accelerate

# Анализ данных
numpy
pandas
scipy

# Визуализация
plotly
matplotlib

# Дополнительно
python-dotenv
tqdm





