# Core
streamlit
python-docx

# NLP и обработка текста
spacy==3.7.4
pydantic==1.10.13
torch
accelerate

# Анализ данных
numpy
pandas
scipy

# Визуализация
plotly
matplotlib

# Дополнительно
python-dotenv
tqdm
typing-extensions





