# Core
streamlit
python-docx

# NLP и обработка текста
spacy
torch
transformers

# Анализ данных
numpy
pandas
scipy

# Визуализация
plotly
matplotlib

# Дополнительно
python-dotenv
tqdm


